<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% for article in articles %}
    <ul class="list-group">
      <li class="list-group-item"><h1>{{ article.title }}</h1></li>
      <li class="list-group-item">
        <p>{{ article.description}}</p>
        <img src="{{ project.image.url }}" alt="Rayo McQueen" />
      </li>
    </ul>
    {% endfor %}
  </body>
</html>
