<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    {% load static %}
    <a href="{% static 'portfolio/Horario.pdf' %}">Horario</a>
    <img src="{% static 'portfolio/mate.jpeg' %}" alt="Mate" />

    {% for project in projects %}
    <ul class="list-group">
      <li class="list-group-item"><h1>{{ project.title }}</h1></li>
      <li class="list-group-item">
        <p>{{ project.description}}</p>
        <img src="{{ project.image.url }}" alt="Rayo McQueen" />
      </li>
      <li class="list-group-item">
        {% if project.url %}
        <a href="{{ project.url }}">cars.com</a>
        {% endif %} {% endfor %}
      </li>
    </ul>
  </body>
</html>
